<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .affix {
            z-index: 9999 !important;
        }
    </style>
</head>

<body data-spy="scroll">

    <div class="container-fluid">
        <div class="row text-center">
            <h1>this file is a test for affix</h1>
            <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="header1">
                    <h2>I'm header1</h2>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                </div>
                <div id="header2">
                    <h2>I'm header2</h2>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                </div>
                <div id="header3">
                    <h2>I'm header3</h2>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                </div>
                <div id="header4">
                    <h2>I'm header4</h2>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                </div>
                <div id="header5">
                    <h2>I'm header5</h2>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                    <p>plaplaplaplaplaplaplaplaplaplaplapla</p>
                </div>
            </div>
            <nav class="col-sm-4">
                <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="120">
                    <li><a href="#header1">header 1</a></li>
                    <li><a href="#header2">header 2</a></li>
                    <li><a href="#header3">header 3</a></li>
                    <li><a href="#header4">header 4</a></li>
                    <li><a href="#header5">header 5</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>